body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 700px;
    margin: auto;
    background-color: rgba(235, 234, 234, 0.276);
    font-size: 20px;
}

.headline {
    height: 100px;
    margin-top: -30px;
}

.headline h1{
    text-align: center;
    font-size: 70px;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul {
    margin: 20px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 40px;
}

.navigation li {
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgba(60, 60, 60, 0.242);
}

.navigation a {
    text-decoration: none;
    color: white;
}

#mac_and_cheese:hover,
#sheet_pan_totchos:hover,
#long_island_iced_tea:hover {
    background-color: rgba(118, 118, 118, 0.606);
}

#mac_and_cheese a:hover,
#sheet_pan_totchos a:hover,
#long_island_iced_tea a:hover  {
    color: black;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 23px;
}
